

.container-info-collector{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 10px;
    inline-size: 100%;
    background-image: radial-gradient(#006eff,#222222);
  border-radius: 20px;
  padding: 20px;
    min-block-size: calc(100vh - 80px);
    

    & input[type="number"].get-num-players{
        inline-size: 50px;
        block-size: 50px;
        border-radius: 50px;
        text-align: center;
        border:1px solid;
        box-shadow: 1px 1px 5px,-1px -1px 5px;
        outline: none;
        font-size: 40px;
        
        color: var(--main-text-color);
        &::-webkit-inner-spin-button {
            appearance: none;
           
            
          }
    }
    
    & h1,input[type="number"]{
        color: #ffffff;
        
    }
    & input[type="submit"]{
        border-radius: 20px;
        
    }

}